/*
Theme Name: Rand Base
Author: Rand Marketing
Author URI: http://randmarketing.com/
Description: This is the Rand Marketing Base Theme.
Version: 1.0
*/

/*Wordpress editor styles start*/
body{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;	
	font-size: 16px;
}
.img-reponsive,
.vc_figure,
.vc_single_image-wrapper{ width:100%;}
input, select, textarea{ width:100%;}
input[type="checkbox"],
input[type="radio"]{ width: auto;}
a,
input[type="submit"],
button{ transition:all ease 0.8s; transition-delay: 0s; text-decoration:none; cursor:pointer; color:#000; width:auto; }
input[type="submit"]{ float:right;}
a:hover{ text-decoration:underline; color:#999;}

.no-float{ float:none;}
.no-padding{ padding:0px !important;}
.no-padding-sides{ padding-left:0; padding-right:0;}
.no-padding-bottom{ padding-bottom:0;}
.no-margin-left{ margin-left:0;}
.no-padding .row,
.panel-grid{ margin-left:auto; margin-right:auto;}
.p-1{ padding:15px;}
.p-2{ padding:30px;}
.p-3{ padding:45px;}
.p-4{ padding:60px;}
.p-y-1{ padding-top:15px; padding-bottom:15px;}
.p-y-2{ padding-top:30px; padding-bottom:30px;}
.p-y-3{ padding-top:45px; padding-bottom:45px;}
.p-y-4{ padding-top:60px; padding-bottom:60px;}
.p-x-1{ padding-left:15px; padding-right:15px;}
.p-x-2{ padding-left:30px; padding-right:30px;}
.p-x-3{ padding-left:45px; padding-right:45px;}
.p-x-4{ padding-left:60px; padding-right:60px;}
.inline-block{ display:block;}
.block{ display:block;}
.uppercase{ text-transform:uppercase;}

.fixed-to-top,
.fixed-to-bottom,
.fixed-to-pos{ position:fixed;}
.fixed-to-top{ top:0% !important;}
.fixed-to-bottom{ bottom:0% !important;}
.fixed.affix-bottom{ position:fixed !important;}

.table thead,
.table thead tr{ width:100%;}
.table thead{ display:table-header-group;}
.display-table{ display:table; width:100%; height:100%;}
.display-table-cell{ display:table-cell; width:100%; height:100%; vertical-align:middle;}
.display-flex,
.vc_column-flex .wpb_wrapper{ display: -webkit-flex;
   display: flex;}
.flex-direction-columns,
.vc_flex-direction-columns .wpb_wrapper{ -webkit-flex-direction: column;
   flex-direction: column;}
.border-top{ border-top:1pxp solid #c6c6c6;}
.border-bottom{ border-bottom:1pxp solid #c6c6c6;}
.border-left{ border-left:1pxp solid #c6c6c6;}
.border-right{ border-right:1pxp solid #c6c6c6;}
.full-height,
.full-height .vc_column-inner{ display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column; flex:1;}
   
.thin{ font-weight:300;}
.big-text{ font-size:30px;}
.text-shadow{ text-shadow: 0 0 2px #000;}
.box-shadow{ -webkit-box-shadow: 0 0 5px 0 #000000;
box-shadow: 0 0 5px 0 #000000;}
.box-shadow-offset-down{ -webkit-box-shadow: 0 15px 15px 0 #000000;
box-shadow: 0 15px 15px 0 #000000;}
.box-shadow-inset-bottom{ -webkit-box-shadow: inset 0 -15px 15px -15px #000000;
box-shadow: inset 0 15px 15px 0 #000000;}
.border-radius-all{ -webkit-border-radius: 15px;
border-radius: 15px;}
.border-radius-top{ -webkit-border-radius: 15px 15px 0 0;
border-radius: 15px 15px 0 0;}
.border-radius-bottom{ -webkit-border-radius:0 0 15px 15px;
border-radius: 0 0 15px 15px;}
hr{ width:100%}
#wrapper{ width:100%; height:auto; position: relative; -webkit-font-smoothing: antialiased; }

#wrapper > header{ width:100%; transition:all ease 0.8s; top:-100%; -webkit-transition-delay: 0.2s; /* Safari */ transition-delay: 0.2s; z-index:1001;}
#wrapper > header nav{ position:relative; margin-bottom:0px; height: auto; transition-delay: 0s;}
#wrapper > header nav .navbar-header .navbar-brand{ height:auto;}
#wrapper > header nav .nav-content{ display: block;
height: 100%;
position: absolute;
right: 0px;}
#wrapper > header nav .nav-content .navbar-collapse{ width:100%;}
#wrapper > header nav .nav-content .navbar-collapse .sidebar{ color:#000; text-align:right;}
#wrapper > header nav .nav-content .navbar-collapse .nav{ transition-delay: 0s;}
#wrapper > header nav .nav-content .navbar-collapse .nav > li{ display:inline-block; vertical-align:middle; float:none;}
#wrapper > header nav .nav-content .navbar-collapse .nav > li > .dropdown-menu{ padding:0;}

#wrapper #main .input{    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.rev_slider .List ul{ list-style-type:disc !important;
list-style-image: none !important;
list-style-position: outside !important;}
.page-template-landing-page #wrapper #main-container .vc_row:first-child .wpb_content_element {
    margin-bottom: 15px;
}
#wrapper #main-container .vc_row.vc_row-o-equal-height .vc_column-inner .wpb_wrapper{  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column; flex:1;}
#wrapper #main-container .vc_row .vc_row_content{ padding-top:30px; padding-bottom:30px; }
#wrapper #main-container .vc_row.vc_row-o-equal-height .vc_row_content{ display: -webkit-flex;
   display: flex;}
#wrapper #main-container .vc_row.no-padding-bottom .vc_row_content{ padding-bottom:0;}
#wrapper #main-container .vc_row .vc_row_content:after{ content:''; display:block; clear:both;}
#wrapper #main-container .vc_row.bg-left-top{ background-position:left top !important;}
#wrapper #main-container .vc_row.bg-center-top{ background-position:center top  !important;}
#wrapper #main-container .vc_row.bg-right-top{ background-position:right top  !important;}
#wrapper #main-container .vc_row.bg-left-center{ background-position:left center  !important;}
#wrapper #main-container .vc_row.bg-center-center{ background-position:center center  !important;}
#wrapper #main-container .vc_row.bg-right-center{ background-position:right center  !important;}
#wrapper #main-container .vc_row.bg-left-bottom{ background-position:left bottom  !important;}
#wrapper #main-container .vc_row.bg-center-bottom{ background-position:center bottom  !important;}
#wrapper #main-container .vc_row.bg-right-bottom{ background-position:right bottom  !important;}
#wrapper #main-container .vc_row.vc_row-no-padding .vc_row_content{ padding-top:0; padding-bottom:0;}
#wrapper #main-container .vc_row.container{ margin-right:auto; margin-left:auto; left:auto !important; right:auto !important; }
#wrapper #main-container .vc_row.alternate_row{ background-color:#666;}
#wrapper #main-container .vc_row.alternate_row h2,
#wrapper #main-container .vc_row.alternate_row h3{ color:#fff;}
#wrapper #main-container .box-btn,
#wrapper #main-container .woocommerce a.button{ text-decoration:none; color:#fff;}
#wrapper #main-container .wpb_gmaps_widget{ margin:0;}
#wrapper #main-container .wpb_gmaps_widget .wpb_wrapper{ padding:0;}



#wrapper > footer{ background-color:#CCC; }
#wrapper > footer #footer-sidebar{ padding: 25px 0;}
#wrapper > footer #footer-bottom-sidebar{ background-color:#999; padding:10px;}

.icon-box{  clear:both; position:relative;}
.icon-box:after{ clear:both;}
.icon-box .icon-holder{ position:absolute; top:0; left:0; z-index:1;}
.icon-box i.icon{ vertical-align:top; padding-right:5px; padding-left:5px; float:left; font-size:18px; width:auto; height:auto;}
i.icon.white,
i.inner-icon.white{ color:#FFF;}
i.icon.text-center,
i.inner-icon.text-center{ width:auto; height:auto; display: block;
line-height: normal;
padding: 30px 0;}
.icon-box .icon-box-content{ display:inline-block; padding-left:35px;}
.icon-box.box-style{ -webkit-border-radius: 10px; border-radius: 10px; background-color:#CCC; position:relative; margin-bottom:25px; }
.icon-box.box-style .icon-holder{ position:absolute; top: auto; bottom:0%; margin-top:0; margin-bottom:-17px; text-align:center; width:100%; }
.icon-box.box-style .icon-holder .icon-container{ -webkit-border-radius: 50%;
border-radius: 50%; border:4px solid #CCC;  background-color:#999; padding:5px 10px; display:inline-block;}
.icon-box.box-style .icon-box-content{ padding:30px;  text-align:center; max-width:100%; width:100%}
.icon-box.box-style .icon-box-content .inner-icon{ font-size:36px; padding:15px 0;}

.box-btn,
.woocommerce a.button{ padding:5px 10px; background-color:#999; color:#000; border-radius:10px; display:inline-block; margin:5px;}
.box-btn.block{ display:block;}
.box-btn.center-block{ margin:5px auto; float:none;}
.pull-bottom{ vertical-align:bottom; position:absolute}
.box-btn:hover{ text-decoration:none; padding:10px 15px;}
.box-btn.size-2{margin-top:30px; margin-bottom:30px; font-size:30px;}
.social-icons{ text-align:center;}
.social-icons a{ text-align:center; vertical-align:middle; display:inline-block; padding:5%; text-decoration:none;}

.carousel-holder{ width:100%; position: relative; }
.carousel-btn-holder{ width:100%; height:100%; display:table;}
.carousel-btn-holder .carousel-btn-inner{ width:100%; height:100%; display:table-cell; vertical-align:middle;}
.carousel-holder .carousel-prev,
.carousel-holder .carousel-next{ width:10%; display: block; cursor:pointer; height:100%; position: absolute; font-size:40px; opacity:0.5; transition:all ease-in 0.8s;}

.carousel-holder .carousel-prev:hover,
.carousel-holder .carousel-next:hover{ opacity:0.8;}
.carousel-holder .carousel-prev{ top:0; left:0; text-align:right; padding-right:10px;}
.carousel-holder .carousel-next{ top:0; right:0; text-align:left; padding-left:10px;}
.carousel-holder .owl-carousel{ width: 80%; margin:0 auto; padding:15px;}
.owl-carousel .owl-item img{ height:auto; width:100%;}
.owl-carousel .owl-item .owl-item-holder{ display:table; width: 100%; height: 100%; box-sizing:border-box;}
.owl-carousel .owl-item .owl-item-holder .owl-item-inner{ display:table-cell; vertical-align:middle; box-sizing:border-box;}
.owl-dots{ text-align:center;}
.owl-dot{ display: inline-block; margin:5px;}

.modal-dialog{ width:50%;}
#bottom-fill{ background-color:#CCC; position:fixed; height:100%; }
#bottom-fill.container-fluid{ width:100%;}

#back-to-top{ position:fixed; right:15px; bottom:15px; padding: 10px; background-color:#000; color:#FFF; opacity:0.5; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; -o-border-radius:50%; box-shadow: 0 0 5px 1px #BBBBBB; -webkit-box-shadow: 0 0 5px 1px #BBBBBB; -moz-box-shadow: 0 0 5px 1px #BBBBBB;}
#back-to-top:hover{ text-decoration:none; padding:20px; opacity:1;}

.entry-content img,  .wpb_text_column img {
	margin: 0 0 0.5em 0;
	}
.alignleft, img.alignleft,  .wpb_text_column img.alignleft {
	margin:0.5em 1.5em 0.5em 1em;
	display: inline;
	float: left;
	}
.alignright, img.alignright,  .wpb_text_column img.alignright {
	margin-left: 0.5em 1em 0.5em 1.5em;
	display: inline;
	float: right;
	}
.aligncenter, img.aligncenter,  .wpb_text_column img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
	}
.alignnone, img.alignnone {
	/* not sure about this one */
	}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
	}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
	}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
	}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
	}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
	}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
	}

/*Wordpress editor styles end*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	body{ font-size:16px}
	*[style*="font-size: 36px;"]{ font-size:34px !important;}
	*[style*="font-size: 34px;"]{ font-size:32px !important;}
	*[style*="font-size: 32px;"]{ font-size:30px !important;}
	*[style*="font-size: 30px;"]{ font-size:28px !important;}
	*[style*="font-size: 28px;"]{ font-size:26px !important;}
	*[style*="font-size: 26px;"]{ font-size:24px !important;}
	*[style*="font-size: 24px;"]{ font-size:22px !important;}
	*[style*="font-size: 22px;"]{ font-size:20px !important;}
	*[style*="font-size: 20px;"]{ font-size:18px !important;}
	*[style*="font-size: 18px;"]{ font-size:16px !important;}
	*[style*="font-size: 16px;"]{ font-size:14px !important;}
	*[style*="font-size: 14px;"]{ font-size:12px !important;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	body{ font-size:14px}
	*[style*="font-size: 36px;"]{ font-size:32px !important;}
	*[style*="font-size: 34px;"]{ font-size:30px !important;}
	*[style*="font-size: 32px;"]{ font-size:28px !important;}
	*[style*="font-size: 30px;"]{ font-size:26px !important;}
	*[style*="font-size: 28px;"]{ font-size:24px !important;}
	*[style*="font-size: 26px;"]{ font-size:22px !important;}
	*[style*="font-size: 24px;"]{ font-size:20px !important;}
	*[style*="font-size: 22px;"]{ font-size:18px !important;}
	*[style*="font-size: 20px;"]{ font-size:16px !important;}
	*[style*="font-size: 18px;"]{ font-size:14px !important;}
	*[style*="font-size: 16px;"]{ font-size:12px !important;}
	*[style*="font-size: 14px;"]{ font-size:10px !important;}
	.modal-dialog{ width:75%;}
	.col-md-6 + .col-md-6 .checkbox:first-child{ margin-top:-5px;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.modal-dialog{ width:80%; margin:0 auto;}
	body{ font-size:14px}
	*[style*="font-size: 36px;"]{ font-size:30px !important;}
	*[style*="font-size: 34px;"]{ font-size:28px !important;}
	*[style*="font-size: 32px;"]{ font-size:26px !important;}
	*[style*="font-size: 30px;"]{ font-size:24px !important;}
	*[style*="font-size: 28px;"]{ font-size:22px !important;}
	*[style*="font-size: 26px;"]{ font-size:20px !important;}
	*[style*="font-size: 24px;"]{ font-size:18px !important;}
	*[style*="font-size: 22px;"]{ font-size:16px !important;}
	*[style*="font-size: 20px;"]{ font-size:14px !important;}
	*[style*="font-size: 18px;"]{ font-size:12px !important;}
	*[style*="font-size: 16px;"]{ font-size:10px !important;}
	*[style*="font-size: 14px;"]{ font-size:8px !important;}
	.big-text{ font-size:20px;}
	#wrapper > header nav{ padding:0}
	#wrapper > header nav .nav-content{ display: block;
	height: auto;
	position: relative;
	right: auto;}
	#wrapper > header nav .navbar-header{width: 100%;
    float: none;
    margin: auto;
    padding: 0;}
	#wrapper > header nav .navbar-header .navbar-toggle{  color:#fff;   border: none;
    border-radius: 0px;
    height: 100%;
    position: absolute;
    right: 0; margin:0; width:auto;}
	#wrapper > header nav .navbar-header .navbar-toggle .icon-bar{background-color: #fff;}
	#wrapper > header nav .nav-content{ height:auto;}
	#wrapper > header .navbar-brand{ width: auto; min-height: 104px; height:104px; padding:0 !important; }
	#wrapper > header .navbar-brand img{ width:auto; height:100%; padding:0 !important;}
	#wrapper > header nav .nav li{ border:none; text-align:right; }
	#wrapper > header nav .nav-content .navbar-collapse .nav{ text-align:right;}
	#wrapper > header nav .nav-content .navbar-collapse .nav > li{display:block;}
	#wrapper > header nav .nav-content .navbar-collapse .nav .box-btn{ width:auto; display:inline-block}
	
	#wrapper #main-container .vc_row.vc_row-has-fill .vc_row_content{ background-color: rgba(255,255,255, 0.8);}
	#wrapper #main-container .vc_row.vc_row-has-fill.alternate_row .vc_row_content{ background-color:transparent;}
	#wrapper #main-container .vc_row.vc_row-o-equal-height .vc_row_content{ flex-direction: column; -webkit-flex-direction: column;}
	#wrapper #main-container #search-box{ padding-bottom:30px;}
	
	.col-md-6 + .col-md-6 .checkbox:first-child{ margin-top:-5px;}
	.box-btn.size-2{ font-size:28px;}
	.icon-box.box-style{ height:auto;}
	.icon-box.box-style .icon-holder{ top: 0; margin-top: -17px; bottom: auto; margin-bottom:0;}
	.fixed.affix,
	.fixed.affix-top,
	.fixed.affix-bottom{ position:relative !important; top:auto !important; bottom:auto !important;}
	.vc_row.vc_row-flex{ display:block;}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.modal-dialog{ width:85%; margin:0 auto;}
	body{ font-size:14px}
	#wrapper > header .navbar-brand{ width: 50%; min-height: auto; height:auto; padding:0 !important; }
	#wrapper > header .navbar-brand img{ width:100%; height:auto; padding:0 !important;}
	#wrapper #main-container .vc_row{ background-image:none !important;}
	.box-btn.size-2{ font-size:26px;}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.box-btn.size-2{ font-size:24px;}
}
