/* CSS Document */
/*
Theme Name: 	House Care Club - Rand Base Child
Author:			Rand Marketing
Author URI:		http://randmarketing.com/
Template:		rand
Description: 	This is the House Care Club Rand Base Child theme Rand Marketing Base Theme. this is were all the client customizations are present.
Version: 		1.0
*/
body{ font-family: 'Open Sans', sans-serif;}
#wrapper > header{
	border-bottom:solid 2px #fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#427ec6+0,2b6bb6+100 */
	background: #427ec6; /* Old browsers */
	background: -moz-linear-gradient(top, #427ec6 0%, #2b6bb6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #427ec6 0%,#2b6bb6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #427ec6 0%,#2b6bb6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#427ec6', endColorstr='#2b6bb6',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0 0 5px 0 #000000;
	box-shadow: 0 0 5px 0 #000000;
}
#wrapper > header nav{ background-color: transparent; border:none;}
#wrapper > header nav .nav-content .navbar-collapse{-webkit-box-shadow: none; box-shadow: none;}
#wrapper > header nav .nav-content .navbar-collapse,
#wrapper > header nav .nav-content .navbar-collapse:before{ border:none; }
#wrapper > header nav .nav-content .navbar-collapse .sidebar,
#wrapper > header nav .nav-content .navbar-collapse .sidebar a{ color:#fff; text-align:right; font-size:29px; font-weight:700; padding-bottom:15px; text-shadow: 0 0 3px #000;}
#wrapper > header nav .nav,
#wrapper > header nav .nav li,
#wrapper > header nav .nav li a{ color:#fff;  font-size:16px; padding:1px 6px; font-weight:600; text-shadow: 0 0 3px #666; background-color:transparent;}
#wrapper > header nav .nav li.box-btn{ background-color:#ff7b24; color:#FFF; border-radius:5px; font-weight:bold; text-transform:uppercase; text-transform:capitalize; padding:10px 15px;}
#wrapper > header nav .nav li a:hover, header nav .nav li.current-menu-item > a{ color:#ffccb4;}
#wrapper > header nav .nav li{ border-right:solid 2px #98c3f7;}
#wrapper > header nav .nav > li:last-child{ border-right:none;}
#wrapper > header nav .nav li a i.fa{ padding-right:5px;}
#wrapper > header nav .nav-content .navbar-collapse .nav > li > .dropdown-menu{ background-color:#427EC6; -webkit-box-shadow: 0 0 5px 0 #000000;	box-shadow: 0 0 5px 0 #000000; margin-top:10px;}
#wrapper > header nav .nav-content .navbar-collapse .nav > li > .dropdown-menu a{ padding:5px;}

#wrapper #main .modal .form-horizontal .login label{ display:inline-block; width:35%; max-width:35%; text-align:right;}
#wrapper #main .modal .form-horizontal .login label:before{ display:inline-block; content:'*'; padding-right:10px; color:#C00;}
#wrapper #main .modal .login #password-strength{ display:none; width:100%; background-color:#666; border:solid 2px #666; -webit-border-radius:5px; border-radius:5px; color:#fff; text-align:center; font-weight:bold; padding:5px 10px;}
#wrapper #main .modal .login #password-strength.short,
#wrapper #main .modal .login #password-strength.bad,
#wrapper #main .modal .login #password-strength.good,
#wrapper #main .modal .login #password-strength.strong{ display:block;}
#wrapper #main .modal .login #password-strength.short{ background-color:#C00;}
#wrapper #main .modal .login #password-strength.bad{ background-color:#C90;}
#wrapper #main .modal .login #password-strength.good{ background-color:#FC0;}
#wrapper #main .modal .login #password-strength.strong{ background-color:#690;}
#wrapper #main .modal .form-horizontal .login .input{ display:inline-block;width:60%; }
#wrapper #login-register-modal .modal-footer .fa-ul .fa{ color:#C00;}
#wrapper #main-container header.post-header{ background-position:center center; background-size:cover;}
#wrapper #main-container header.post-header h1{ padding:10% 15px; text-align:center; margin:0; color:#fff; font-weight:700; text-transform:uppercase; text-shadow: 0 0 5px #000; font-size:47px;}
#wrapper #main-container input[type="submit"],
#wrapper #main input[type="submit"],
#search-housekeepers #searchform #searchsubmit{padding:10px 15px; background-color:#ff7b24; color:#FFF; border-radius:5px; font-weight:bold; text-transform:uppercase; font-size:15px; border:none;}
#wrapper #main-container input[type="submit"]:hover,
#search-housekeepers #searchform #searchsubmit:hover{ background-color:#f2673a; color:#FFF; text-decoration:none; padding:15px 20px;}
#wrapper #main-container h2,
#wrapper #main-container h3{ font-size:32px; font-style:italic;font-weight:500; line-height:1em;}
#wrapper #main-container h2{ color:#434343;}
#wrapper #main-container h3{ font-size:22px; color:#2f6eb9; padding-bottom:30px;}
#wrapper #main-container h4{ font-weight:600;}
#wrapper #main-container a{ color:#427ec6; text-decoration:underline;}
.home #wrapper #main-container .icon-box .icon{ color:#5ea334;}
#wrapper #main-container .icon-box .icon{ color:#fe8e47;}
#wrapper #main-container .icon-box.box-style{ background-color:#FFF; margin-bottom:35px;}
#wrapper #main-container .icon-box.box-style .icon-holder{ margin-bottom: -24px;}
#wrapper #main-container .icon-box.box-style .icon-holder .icon-container{ background-color:#5ea334; border-color:#fff; border-width:6px; font-weight:bold; color:#fff; font-size:20px; padding: 6px 14px;}
#wrapper #main-container .icon-box.box-alt,
#wrapper #main-container .icon-box.box-style{ background-color:transparent;display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column; flex:1; }
#wrapper #main-container .icon-box.box-alt .inner-icon{ position:relative;}
#wrapper #main-container .icon-box.box-alt .icon-box-content,
#wrapper #main-container .icon-box.box-style .icon-box-content{ background-color:#FFF; -webkit-border-radius: 10px; border-radius: 10px; display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column; flex:1;}
#wrapper #main-container .icon-box.box-alt .icon-holder .icon-container{ background-color:#3676ec;}
#wrapper #main-container .icon-box.box-style .icon-box-content p,
#wrapper #main-container .icon-box.box-alt .icon-box-content h4{  color:#ff7b24; font-weight:bold; font-size:20px; word-wrap:break-word;}
#wrapper #main-container .icon-box.box-alt .icon-box-content h4{ font-size:16px;}
#wrapper #main-container .icon-box.box-alt .icon-box-content p{ color:#000; font-size:14px; font-weight:normal;}
#wrapper #main-container .icon-box.box-style .icon-box-content .inner-icon{ color:#3676ec; font-size:54px;}

#wrapper #main-container .vc_row.alternate_row{ background-color:#427ec6; color:fff;}
#wrapper #main-container .vc_toggle .vc_toggle_title{ color:#fe8e47; border-bottom:solid 1px #b2b2b2; border-top:solid 1px #b2b2b2; padding:10px 25px 10px 15px; }
#wrapper #main-container .vc_row .vc_toggle .vc_toggle_title:first-child{ border-top:none;}
#wrapper #main-container .vc_row .vc_toggle .vc_toggle_title:last-child{ border-bottom:none;}
#wrapper #main-container .vc_toggle .vc_toggle_title .vc_toggle_icon{font: normal normal normal 20px/1 FontAwesome; background-color:transparent; left: auto; right: 15px; border:none;}
#wrapper #main-container .vc_toggle .vc_toggle_title .vc_toggle_icon:before{ content: "\f103"; width:auto; height:auto; background-color:transparent; border:none;}
#wrapper #main-container .vc_toggle.vc_toggle_active .vc_toggle_title  .vc_toggle_icon:before{ display:none;}
#wrapper #main-container .vc_toggle .vc_toggle_title .vc_toggle_icon:after{ content: "\f102"; display:none; width:auto; height:auto; background-color:transparent; border:none;}
#wrapper #main-container .vc_toggle.vc_toggle_active .vc_toggle_title .vc_toggle_icon:after{ display:block; visibility:visible;}
#wrapper #main-container .vc_row.alternate_row h2,
#wrapper #main-container .green-box h2,
#wrapper #main-container .vc_row.alternate_row h3,
#wrapper #main-container .green-box h3,
#wrapper #main-container .vc_row.alternate_row ul,
#wrapper #main-container .vc_row.alternate_row p,
#wrapper #main-container .vc_row.alternate_row a{ color:#fff;}
#wrapper #main-container .vc_row.alternate_row .icon-box .icon{ color:#ff883c;}
#wrapper #main-container .box h3:first-child,
#wrapper #main-container .green-box h3:first-child{ margin-top:0;}

#wrapper #main-container .gray-box .vc_column-inner,
#wrapper #main-container .green-box .vc_column-inner{ padding:25px;}
#wrapper #main-container .service-box{ padding:5px; color:#000; margin-top: 70px;}
#wrapper #main-container .service-box .vc_column-inner,
#wrapper #main-container .service-box .service-box-inner{ -webkit-border-radius: 10px; border-radius: 10px; background-color:#fff; padding:15px;}
#wrapper #main-container .service-box:before{ -webkit-border-radius: 200px 200px 0 0; border-radius: 200px 200px 0 0; background-color:#fff; position: absolute;
bottom: 100%;
display: block;
width: 40%;
height: 70px;
left: 50%;
margin-left: -20%;
margin-bottom: -20px;
text-align: center;
padding: 15px 0px 0 0px;
}
#wrapper #main-container .service-box.blue:before,
#wrapper #main-container .service-box.blue .vc_column-inner,
#wrapper #main-container .service-box.blue .service-box-inner{ background-color:#23599b; color:#fff;}
#wrapper #main-container .service-box.green:before,
#wrapper #main-container .service-box.green .vc_column-inner,
#wrapper #main-container .service-box.green .service-box-inner{ background-color:#5ea334; color:#fff;}
#wrapper #main-container .service-box.blue .vc_column-inner,
#wrapper #main-container .service-box.blue .service-box-inner,
#wrapper #main-container .service-box.green .vc_column-inner,
#wrapper #main-container .service-box.green .service-box-inner{ padding:35px;}
#wrapper #main-container .service-box.search-box .vc_column-inner{ background-image: url(images/search-box-bg.png); background-size:auto 80%; background-repeat:no-repeat; background-position: calc(100% - 20px) calc(100% - 10px);}
#wrapper #main-container .service-box.hundred-percent-box .vc_column-inner{ background-image: url(images/100-percent-box-bg.png); background-size:auto 80%; background-repeat:no-repeat; background-position: calc(100% - 20px) calc(100% - 10px);}
#wrapper #main-container .service-box.personal-assistant-box:before{ content: ''; background-image: url(/wp-content/themes/house-care-club/images/personal-assistant-icon.png); background-size: auto calc(80%); background-repeat:no-repeat; background-position:center bottom;}
#wrapper #main-container .service-box.child-care-box:before{ content: ''; background-image: url(/wp-content/themes/house-care-club/images/child-care-icon.png); background-size: auto calc(80%); background-repeat:no-repeat; background-position:center bottom;}
#wrapper #main-container .service-box.pet-care-box:before{ content: ''; background-image: url(/wp-content/themes/house-care-club/images/pet-care-icon.png);background-size: auto calc(80%); background-repeat:no-repeat; background-position:center bottom;}
#wrapper #main-container .service-box.senior-care-box:before{ content: ''; background-image: url(/wp-content/themes/house-care-club/images/senior-care-icon.png); background-size: auto calc(80%);background-repeat:no-repeat; background-position:center bottom;}
#wrapper #main-container .service-box.search-box:before{ content: ''; background-image: url(/wp-content/themes/house-care-club/images/search-icon.png); background-size: auto calc(80%); background-repeat:no-repeat; background-position:center bottom;}
#wrapper #main-container .service-box.hundred-percent-box:before{ content: ''; background-image: url(/wp-content/themes/house-care-club/images/100-percent-icon.png); background-size: auto calc(80%); background-repeat:no-repeat; background-position:center bottom;}
#wrapper #main-container .service-box.needs:before{ content: ''; background-image: url(/wp-content/themes/house-care-club/images/services-needs-icon.png); background-size: auto calc(80%); background-repeat:no-repeat; background-position:center bottom; margin-bottom:-80px; padding:0;}
.service-box.needs:before img{ width:100%;}
#wrapper #main-container .service-box.needs:before{ -webkit-box-shadow: 0 -5px 5px -5px #000000;
box-shadow: 0 -5px 5px -5px #000000;}
#wrapper #main-container .service-box.needs .service-box-inner{ -webkit-box-shadow: 0 0 5px 0 #000000;
box-shadow: 0 0 5px 0 #000000;}
#wrapper #main-container .service-box h4{ color:#fe8e47;}
#wrapper #main-container .service-box.green h4,
#wrapper #main-container .service-box.blue h4{ color: #fff;}
#wrapper #main-container .vc_row.alternate_row .service-box .icon-box .icon-box-content p{ color:#000;}
#wrapper #main-container .vc_row.alternate_row .service-box .icon-box .icon{ color:#5ea334;}
#wrapper #main-container .box-btn{ text-decoration:none; color:#fff;}
#wrapper #main-container .menu{ list-style:none; padding:0;}
#wrapper #main-container .menu li:first-child{ border-top:solid 1px #b2b2b2;}
#wrapper #main-container .menu li{ border-bottom:solid 1px #b2b2b2; padding:10px 15px;}
#wrapper #main-container .menu li a{ text-decoration:none; color:#000; font-size:15px;}
#wrapper #main-container .menu li.current-menu-item a,
#wrapper #main-container .menu li a:hover{ color:#fe8e47;}
#wrapper #main-container .address-info {}
#wrapper #main-container .address-info p{ padding-left:5px;}
#wrapper #main-container .address-info i.icon{ color:#427ec6;}
#wrapper #main-container .contact-form{ border-left:1px solid #b2b2b2;}
#wrapper #main-container #certifications .wpb_single_image .vc_single_image-wrapper{ display:inline-block; vertical-align:middle; width:50%;}
#wrapper #main-container #certifications .wpb_single_image .vc_figure-caption{ display:inline-block; vertical-align:middle; width:50%;}
#wrapper #main-container #testimonials,
#wrapper #main-container #testimonials .carousel-holder{ color:#fff;}
#wrapper #main-container #testimonials .icon-holder .icon-container i.icon{ display:block; text-align:center; font-size:50px; width:auto; height:auto; padding:20px; line-height:normal;}
#wrapper #main-container #testimonials .icon-holder .icon-container .icon-box-title{ display:block; font-style:italic; font-size:32px; text-align:center; margin-bottom:20px; font-weight:600;}
#wrapper #main-container .testimonial-content{ text-align:center; font-size:24px;}
#wrapper #main-container .testimonial-title{ text-align:center;  font-size:20px; font-weight:600;}

#wrapper #main-container #searchform #searchsubmit, #search-housekeepers #searchform #searchsubmit{ width:100%; margin:15px 0; font-size:30px;}
#wrapper #main-container #searchform h3{ font-weight:600; font-style:normal; padding-bottom:0;}
#wrapper #main-container .housekeeper-profile .housekeeper-title{ font-size:130%; font-weight:bold; text-align:center; text-transform:uppercase;}
#wrapper #main-container .housekeeper-profile .housekeeper-title .housekeeper-name{ color:#306ab2; font-size:155%; font-family: 'Courgette', cursive; display:inline-block; margin-top:15px; text-transform:capitalize;}
#wrapper #main-container .housekeeper-profile h3{ font-weight:bold; font-style:italic;}
#wrapper #main-container .housekeeper-profile h3 small{ font-size:80%; font-style:normal; font-weight:normal; color:#3265A1;}
#wrapper #main-container .housekeeper-profile h4{ font-weight:bold;}
#wrapper #main-container .housekeeper-profile .white-box{ background-color:#fff; -webkit-box-shadow: 0 0 5px 0 #CCC; box-shadow: 0 0 5px 0 #CCC; -webkit-border-radius: 10px; border-radius: 10px; padding: 15px;
text-align: center;
margin: 15px 0; }
#wrapper #main-container .housekeeper-profile .white-box.p-y-2{ padding-top:30px; padding-bottom:30px; }
#wrapper #main-container .housekeeper-profile .green-text{ color:#67a025; font-weight:bold;}
#wrapper #main-container .housekeeper-profile .description{ margin:0;}
#wrapper #main-container .housekeeper-profile .checks{ font-weight:normal; font-size:14px;}
#wrapper #main-container .housekeeper-profile .checks .fa{ color:#67a025; padding-right:10px;}
#wrapper #main-container .housekeeper-profile #certifications{ -webkit-box-shadow:0 0 2px 0 #CCC,inset 0px 10px 5px -5px #CCC; box-shadow:0 0 2px 0 #CCC,inset 0px 10px 5px -5px #CCC;}
#wrapper #main-container .housekeeper-profile #certifications #certifications-grid img,
#wrapper #main-container .housekeeper-profile #certifications #certifications-grid figure img + figcaption{ width:45%; display:inline-block; vertical-align:middle;}
#wrapper #main-container .housekeeper-profile .comment{ position:relative;}
#wrapper #main-container .housekeeper-profile .comment:before,
#wrapper #main-container .housekeeper-profile .comment:after{ display:block; font: normal normal normal 14px/1 FontAwesome;font-size: 10em; position:absolute; top:0px; color:#EDEDED; z-index:-1;}
#wrapper #main-container .housekeeper-profile .comment:before{ content: "\f10d"; left:0px;}
#wrapper #main-container .housekeeper-profile .comment:after{ content: "\f10e"; right:0px;}
#wrapper #main-container .housekeeper-profile #background-screening{ background-image:url(images/background-screening-bg.png); background-size:15% auto; background-position:center center; background-repeat:no-repeat;}
#wrapper #main-container .housekeeper-profile #background-screening h3{ margin-top:0; margin-bottom:30px;}
#wrapper #main-container .housekeeper-profile #background-screening table{ width:100%;}
#wrapper #main-container .housekeeper-profile #background-screening tr{ vertical-align:middle; border-bottom:solid 1px #fff; }
#wrapper #main-container .housekeeper-profile #background-screening tr:first-child{border-top:solid 1px #fff;}
#wrapper #main-container .housekeeper-profile #background-screening tr td{ text-align:right; vertical-align:middle; padding:5px 10px;}
#wrapper #main-container .housekeeper-profile #background-screening tr td p{ margin:0; }
#wrapper #main-container .housekeeper-profile #background-screening tr td:first-child{ text-align:left;}
#wrapper #main-container .housekeeper-profile .service-row{ position:relative;}
#wrapper #main-container .housekeeper-profile .service-row:before{content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; background-position:top center; background-size:100% auto;}
#wrapper #main-container .housekeeper-profile #household:before{  opacity: 1; background-image:url(images/hcc-services-household-cleaning-bg.png);}
#wrapper #main-container .housekeeper-profile #personal-assistant:before{  opacity: 1; background-image:url(images/hcc-services-personal-assistant-bg.png); }
#wrapper #main-container .housekeeper-profile #mothers-helper:before{  opacity: 1; background-image:url(images/hcc-services-mothers-helper-bg.png); }
#wrapper #main-container .housekeeper-profile #pet-care:before{  opacity: 1; background-image:url(images/hcc-services-pet-care-bg.png); }
#wrapper #main-container .housekeeper-profile #housewatch:before{  opacity: 1; background-image:url(images/hcc-services-housewatch-bg.png); }
#wrapper #main-container .housekeeper-profile #handywork:before{  opacity: 1; background-image:url(images/hcc-services-handywork-bg.png); }
#wrapper #main-container .housekeeper-profile #transportation:before{  opacity: 1; background-image:url(images/hcc-services-transportation-bg.png); }
#wrapper #main-container .housekeeper-profile #standard-cleaning:before{  opacity: 1; background-image:url(images/hcc-services-special-cleaning-bg.png); }
#wrapper #main-container .housekeeper-profile #special-cleaning:before{  opacity: 1; background-image:url(images/hcc-services-standard-cleaning-bg.png); }
#wrapper #main-container .housekeeper-profile .service-box.needs{ font-size:100%; text-transform:uppercase;}
#wrapper #main-container .housekeeper-profile .service-box.needs .orange-text{ font-size:145%; display:inline-block;}
#wrapper #main-container .housekeeper-profile #let-us-do h4{ font-size:200%; font-style:italic}
#wrapper #main-container .housekeeper-profile #let-us-do h5{ font-size:180%; font-style:italic}


#wrapper #main-container .plans-table table{  }
#wrapper #main-container .plans-table table tr{ border-bottom: 1px solid #000;}
#wrapper #main-container .plans-table table thead tr:first-child,
#wrapper #main-container .plans-table table tbody tr:last-child{ border-width:2px;}
#wrapper #main-container .plans-table table thead tr th{ border-bottom:none;}
#wrapper #main-container .plans-table table tr th:first-child,
#wrapper #main-container .plans-table table tr td:first-child{ border-right:1px solid #000;}
#wrapper #main-container .plans-table table tr th:last-child,
#wrapper #main-container .plans-table table tr td:last-child{ border-left:1px solid #000;}
#wrapper #main-container .plans-table tbody tr td{ background-color:#fff; padding:0px; border-top:none; vertical-align:middle; line-height:0; }
#wrapper #main-container .plans-table tbody tr td:first-child,
#wrapper #main-container .plans-table tbody tr:last-child td{ padding:15px; line-height:normal;}
#wrapper #main-container #memberships-select ul.products{ display:table; width:100%;}
#wrapper #main-container #memberships-select ul.products li{ display:table-cell; vertical-align:middle; text-align:center;}
#wrapper #main-container #memberships-select ul.products li .membership-block h3{ text-align:center; color:#333;}
#wrapper #main-container #memberships-select ul.products li .membership-block { position: relative;}
#wrapper #main-container #memberships-select ul.products li .membership-block .membership-holder{ position:relative;}
#wrapper #main-container #memberships-select ul.products li .membership-block.bronze,
#wrapper #main-container #memberships-select ul.products li .membership-block.platinum{ padding-top:30px}

#wrapper #main-container #memberships-select ul.products li .membership-block .membership-holder,
#wrapper #main-container #memberships-select ul.products li .membership-block .membership-holder .membership-holder-inner{ padding:4px; -webkit-border-radius:15px 15px 0 0; border-radius:15px 15px 0 0;}
#wrapper #main-container #memberships-select ul.products li .membership-block.bronze .membership-holder .membership-holder-inner,
#wrapper #main-container #memberships-select ul.products li .membership-block.gold .membership-holder .membership-holder-inner,
#wrapper #main-container #memberships-select ul.products li .membership-block.platinum .membership-holder .membership-holder-inner{ border:2px solid #fff;}
#wrapper #main-container #memberships-select ul.products li .membership-block.bronze .membership-holder{ background-color:#b3753b;}
#wrapper #main-container #memberships-select ul.products li .membership-block.gold .membership-holder{ background-color:#e5be26}
#wrapper #main-container #memberships-select ul.products li .membership-block.platinum .membership-holder{ background-color:#b6b6b6;}
#wrapper #main-container #memberships-select ul.products li .membership-block .price{ position:absolute; margin:0 auto; width:100%; color:#fff; font-weight:bold; text-transform:uppercase; left:0;}
#wrapper #main-container #memberships-select ul.products li .membership-block .price .month-price{ font-size:32px; padding-top:65px; padding-bottom:40px; line-height: 0.8;}
#wrapper #main-container #memberships-select ul.products li .membership-block .price .month-price .month-label{ font-size:20px;}
#wrapper #main-container #memberships-select ul.products li .membership-block .price .billed-text{ font-size:16px;}
#wrapper #main-container #memberships-select ul.products li .membership-block .price .tag{ font-size:30px;}
#wrapper #main-container #memberships-select ul.products li .membership-block .add_to_cart_button{ padding:20px 25px; font-size:16px; min-width:50%; margin-bottom:15px;}
#wrapper #main-container #memberships-select ul.products li .membership-block.gold .add_to_cart_button{ margin-top:45px;}
#wrapper #main-container #memberships-select ul.products li .membership-block img{ margin-top: -12px; margin-left: auto;
margin-right: auto;
width: auto;
display: block; margin-bottom: -40px;}
#wrapper #main-container .plans-table tbody tr td .icon-holder .icon-container .icon{  width:auto; height:auto; line-height:normal;}

#wrapper #main-container .woocommerce-checkout h3{ color:#000; font-weight:bold; padding-bottom:30px; padding-top:30px; margin:0;}
#wrapper #main-container .woocommerce-checkout .order-details-title{ padding-bottom:15px;}
#wrapper #main-container .woocommerce-checkout #payment{ background-color:transparent;}
#wrapper #main-container .woocommerce-checkout #order_review img.memberships{ margin-top:-26px; margin-bottom: -90px;}
#wrapper #main-container .woocommerce-checkout #order_review .cart_item.memberships .product-total{ vertical-align:top; padding-top: 35px;}
#wrapper #main-container .woocommerce-checkout #order_review .product-total .product-name{ font-weight:bolder; font-size:18px; padding-top:15px}
#wrapper #main-container .woocommerce-checkout #order_review .product-total .subscription-price{ font-size:14px;}
#wrapper #main-container .woocommerce-checkout #order_review .product-total .subscription-price .month-price{ display:none;}
#wrapper #main-container .woocommerce-checkout #order_review tfoot tr:first-child td{ padding:0;}
#wrapper #main-container .woocommerce-checkout #order_review tfoot > tr > td{ border:none}
#wrapper #main-container .woocommerce-checkout #order_review tfoot td{ font-weight: 400;}
#wrapper #main-container .woocommerce-checkout #order_review tfoot .order-review-footer{ width:65%; float:right; font-size:14px;}
#wrapper #main-container .woocommerce-checkout #order_review tfoot .order-review-footer th,
#wrapper #main-container .woocommerce-checkout #order_review tfoot .order-review-footer td{ padding:5px;}
#wrapper #main-container #house-profile-accordion .panel-default{ background-color:transparent; border-top:1px solid #000;  border-top:1px solid #000; border-radius:0; box-shadow:0px 0px 0px transparent; border-left: none;
    border-right: none; border-bottom:none;}
#wrapper #main-container #house-profile-accordion .panel-default:first-child{ border-top:none; border-left: none;
    border-right: none;}
#wrapper #main-container #house-profile-accordion .panel-default .panel-heading{ background-color:transparent; border:none;}
#wrapper #main-container #house-profile-accordion .panel-default .panel-heading a{ color:#000; text-decoration:none; font-weight:bold;}
#wrapper #main-container #house-profile-accordion .panel-default .panel-body{ border:none;}
#wrapper #main-container #house-profile-form input[type=submit], #search-housekeepers #searchform #searchsubmit{ float:none;}
#wrapper #main-container .woocommerce-MyAccount-navigation{ border-radius:4px; border:2px solid #2b6bb6;}
#wrapper #main-container .woocommerce-MyAccount-navigation .list-group{ border-radius:4px; margin-bottom:0;}
#wrapper #main-container .woocommerce-MyAccount-navigation .list-group a{ background-color:#427ec6; color:#fff; border:none; border-bottom:2px solid #2b6bb6; color:#fff; font-weight:bold; text-decoration:none;}
#wrapper #main-container .woocommerce-MyAccount-navigation .list-group a:hover,
#wrapper #main-container .woocommerce-MyAccount-navigation .list-group a.is-active{ background-color:#ff7b24;}
#wrapper #main-container .woocommerce-MyAccount-navigation .list-group a:first-child { border-top-left-radius: 2px; border-top-right-radius: 2px;}
#wrapper #main-container .woocommerce-MyAccount-navigation .list-group a:last-child{ border-bottom:none; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;}
#wrapper #main-container .woocommerce-MyAccount-navigation .list-group a i.fa{ margin-right:15px;}
#wrapper #main-container .woocommerce-MyAccount-content .box:first-child{ margin-top:0;}
#wrapper #main-container .woocommerce-MyAccount-content .housekeeper-profile .wc-bookings-booking-form{ border:none; padding:0;}
#wrapper #main-container .woocommerce-MyAccount-content ul.housekeepers{ list-style:none; position:relative;}
#wrapper #main-container .woocommerce-MyAccount-content ul.housekeepers li a{ display:block; text-align:center;}
#wrapper #main-container .woocommerce-MyAccount-content ul.housekeepers .profile-logo{ margin-bottom:15px;}
#wrapper #main-container .woocommerce-MyAccount-content ul.housekeepers .housekeeper-name{     color: #306ab2;
    font-size: 155%;
    font-family: 'Courgette', cursive;
    display: inline-block;
    margin-top: 0px;
    text-transform: capitalize;}

#wrapper #main-container .housekeeper-profile .wc-bookings-date-picker legend *{ color:#000;}

.woocommerce form .form-row .select2-container.input-l{ line-height:2.7em;}
.woocommerce input#coupon_code{ width:120px;}
#wrapper > footer{ color:#FFF; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#316fba+0,427ec6+100 */
background: #316fba; /* Old browsers */
background: -moz-linear-gradient(top, #316fba 0%, #427ec6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #316fba 0%,#427ec6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #316fba 0%,#427ec6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#316fba', endColorstr='#427ec6',GradientType=0 ); /* IE6-9 */
}
#wrapper > footer .social-icons{ border-bottom:1px solid #fff; border-top:1px solid #fff; padding:0px 15px; color:#fff; text-align:center;}
#wrapper > footer .social-icons a{ color:#FFF; font-size:24px;}
#wrapper > footer .social-icons a:hover{ color:#AAD3F0;}
#wrapper > footer #footer-sidebar{ }
#wrapper > footer #footer-sidebar .widget{ display:inline-block; vertical-align:middle; float:none; padding:0 20px;}
#wrapper > footer #footer-sidebar #nav_menu-2.widget_nav_menu{ padding:4% 20px; border-left: 4px solid #5f92cf; border-right: 4px solid #5f92cf;}
#wrapper > footer #footer-sidebar #black-studio-tinymce-3{ font-size:17px; padding:0 5%;}
#wrapper > footer .widget_nav_menu .menu{ padding:0 0 0 10px;}
#wrapper > footer .widget_nav_menu .menu,
#wrapper > footer .widget_nav_menu .menu > li{ list-style:none;}
#wrapper > footer .widget_nav_menu .menu > li > a{ color:#fff; font-weight:700; padding:5px;}
#wrapper > footer .widget_nav_menu .menu > li > .sub-menu{ color:#fff; padding-bottom:5px;}
#wrapper > footer .widget_nav_menu .menu > li > .sub-menu > li{ display:inline-block;}
#wrapper > footer .widget_nav_menu .menu > li > .sub-menu > li:after{ content:'•'; display:inline-block; padding:0 5px; font-weight:bold;}
#wrapper > footer .widget_nav_menu .menu > li > .sub-menu > li:last-child:after{ display:none;}
#wrapper > footer .widget_nav_menu .menu > li > .sub-menu > li a{ color:#fff;}
#wrapper > footer #menu-copyright-menu{ list-style:none; color:#FFF; font-size:12px; text-align:center;}
#wrapper > footer #menu-copyright-menu li{ display:inline-block; border-right:solid 1px #FFF; color:#FFF; }
#wrapper > footer #menu-copyright-menu li a{ padding:10px 15px 10px 12px; color:#FFF;}
#wrapper > footer #menu-copyright-menu li:last-child{ border-right:none;}
#wrapper > footer #footer-bottom-sidebar{ background-color:transparent;}

.page-template-landing-page #wrapper .logo{ width:80%;}
.page-template-landing-page #wrapper #main-container #search-box{ -webkit-box-shadow: 0 15px 15px 0 #000, inset 0 -15px 15px -15px #000000;
box-shadow: 0 15px 15px 0 #000, inset 0 -15px 15px -15px #000000; -webkit-border-radius: 15px 15px 0 0;
border-radius: 15px 15px 0 0; color:#000; display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column; flex:1; margin: 0 15px 0;
padding-bottom: 30px;}
.page-template-landing-page #wrapper #main-container #search-box p{ color:#000;}

.box{ -webkit-box-shadow: 0 0 5px 0 #000000; box-shadow: 0 0 5px 0 #000000; -webkit-border-radius: 10px; border-radius: 10px; border:solid 10px #fff; margin-bottom:30px; margin-top:30px; }
.box.vc_row{ padding:0;}
.box .row{ margin-top:15px;}
.box .row:first-child{ margin-top:0;}
#wrapper #main-container .box.vc_row .vc_row_content{  padding-top:0; padding-bottom:0;}
.box .vc_column-inner,
.green-box.vc_row-has-fill,
.gray-box.vc_row-has-fill{background-position:center center; background-size:auto 80%; background-repeat:no-repeat;}
.gray-box,
.green-box{ -webkit-border-radius: 5px; border-radius: 5px; }

.gray-box{ background-color: #f0f0f0; }
.green-box{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#67a025+0,4b7717+100 */
background-color: #67a025; /* Old browsers */
background-color: -moz-linear-gradient(top,  #67a025 0%, #4b7717 100%); /* FF3.6-15 */
background-color: -webkit-linear-gradient(top,  #67a025 0%,#4b7717 100%); /* Chrome10-25,Safari5.1-6 */
background-color: linear-gradient(to bottom,  #67a025 0%,#4b7717 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67a025', endColorstr='#4b7717',GradientType=0 ); /* IE6-9 */
color:#fff;}
.carousel-btn-holder .carousel-btn-inner { vertical-align: top; padding-top: 10px;}

a.box-btn,
.box-btn,
#wrapper #main-container input[type="submit"],
#search-housekeepers #searchform #searchsubmit,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce input[type="submit"].button,
.box-btn.alt.disabled,
.woocommerce a.button.alt.disabled,
.woocommerce button.button.alt.disabled,
.woocommerce input[type="submit"].button.alt.disabled{ padding:10px 15px; background-color:#ff7b24; color:#FFF; border-radius:5px; font-weight:bold; text-transform:uppercase; font-size:15px;}
.box-btn small{ text-transform:none; font-size:50%;}
.box-btn.disabled{ opacity:0.5;}
.box-btn.disabled:after{ font-family:WooCommerce;content:"\e01c";vertical-align:top;-webkit-font-smoothing:antialiased;font-weight:400;position:absolute;top:0.5em;right:0.5em;-webkit-animation:spin 2s linear infinite;-moz-animation:spin 2s linear infinite;animation:spin 2s linear infinite;}

a.box-btn:hover,
.box-btn:hover,
#wrapper #main-container input[type="submit"]:hover,
#search-housekeepers #searchform #searchsubmit:hover,
.woocommerce a.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button:hover,
.woocommerce button.button.alt:hover,
.woocommerce input[type="submit"].button:hover,
.box-btn:hover.alt.disabled,
 #wrapper #main input[type="submit"]:hover.alt.disabled,
.woocommerce a.button:hover.alt.disabled,
.woocommerce button.button:hover.alt.disabled,
.woocommerce input[type="submit"].button:hover.alt.disabled{ background-color:#f2673a; color:#FFF; text-decoration:none; padding:15px 20px;}

.box-btn.blue{ background-color:#306AB1;}
.box-btn.green{ background-color:#67a025;}
.box-btn.gray{ background-color:#999;}
.box-btn.gray:hover{ background-color:#666; color:#CCC;}
.green-text{ color:#67a025 !important; }
.red-text{ color:#e31100 !important; }
.orange-text{ color:#ffa569 !important;}
.blue-text{ color:#3478CB !important;}

#bottom-fill{ background-color:#427ec6;}
#back-to-top{ border-radius:5%; -moz-border-radius:5%; -webkit-border-radius:5%; -o-border-radius:5%; background-color:#AAD3F0; color:#2D6CB7; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;}
#back-to-top:hover{ font-size:24px; padding:15px;}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	#wrapper #main-container #searchform #searchsubmit, #search-housekeepers #searchform #searchsubmit{ font-size:22px;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#wrapper > header nav .nav li{ padding:1px 4px;}
	#wrapper > header nav .nav li a{ font-size:14px;}
	#wrapper > header nav .nav li.box-btn{ padding:5px 10px;}
	#wrapper > footer #footer-sidebar,
	.mobile-reverse-md{  /* Setup Flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* Reverse Column Order */
  -webkit-flex-flow: column-reverse;
  flex-flow: column-reverse;}
	#wrapper > footer #footer-sidebar .widget,
	#wrapper > footer #footer-sidebar .widget#nav_menu-2,
	#wrapper > footer #footer-sidebar .widget#black-studio-tinymce-3{ padding:20px 5%; border-bottom:4px solid #5f92cf;}
	#wrapper > footer #footer-sidebar .widget:first-child{ border:none;}
	#wrapper > footer #footer-sidebar #nav_menu-2.widget_nav_menu{ border-right:none; border-left:none;}
	#wrapper > footer .widget_nav_menu .menu{ text-align:center;}
	#wrapper > footer .widget_nav_menu ul{ margin:0; padding-left:0;}
	#wrapper #main-container #certifications .wpb_single_image .vc_figure{  width:80%;}
	#wrapper #main-container #memberships-select ul.products li .membership-block img{ margin-bottom:-20px;}
	#wrapper #main-container #searchform #searchsubmit, #search-housekeepers #searchform #searchsubmit{ font-size:12px;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#wrapper > header nav .navbar-header{width: 100%;
    float: none;
    margin: auto;
    padding: 0;}
	#wrapper > header nav .navbar-header .navbar-toggle{  color:#fff;   border: none;
    border-radius: 0px;
    height: 100%;
    position: absolute;
    right: 0; margin:0; background-color:#AAD3F0;}
	#wrapper > header nav .nav-content{ height:auto;}
	#wrapper > header .navbar-brand{ width: auto; min-height: 104px; height:104px; padding:0 !important; }
	#wrapper > header .navbar-brand img{ width:auto; height:100%; padding:0 !important;}
	#wrapper > header nav .nav li{ border:none; text-align:right}
	#wrapper > header nav .nav-content .navbar-collapse .nav > li > .dropdown-menu{ -webkit-box-shadow: none; box-shadow:none;}
	
	#wrapper #main-container input[type="submit"], #wrapper #main input[type="submit"], #search-housekeepers #searchform #searchsubmit{ float:none; width:100%;}
	#wrapper #main .modal .form-horizontal .login label{ display:block; width:100%; max-width:100%; text-align:left;}
	#wrapper #main .modal .form-horizontal .login .input{ display:block;width:100%; }
	#wrapper #main-container #certifications .wpb_single_image .vc_figure{  width:90%;}
	#wrapper #main-container #memberships-select ul.products li .membership-block img{ margin-bottom:-40px;}
	#wrapper #main-container #memberships-select .woocommerce[class*="columns-"] ul.products li.product{ width:100%;}
	#wrapper #main-container #searchform #searchsubmit, #search-housekeepers #searchform #searchsubmit{ font-size:20px;}
	.icon-box.box-style .icon-holder{ top: auto; bottom:0%; margin-top:0; margin-bottom:-17px;}
	.mobile-reverse-sm{  /* Setup Flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* Reverse Column Order */
  -webkit-flex-flow: column-reverse;
  flex-flow: column-reverse;}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	#wrapper > header .navbar-brand{ width: 50%; min-height: auto; height:auto; padding:0 !important; }
	#wrapper > header .navbar-brand img{ width:100%; height:auto; padding:0 !important;}
	#wrapper #main-container #certifications .wpb_single_image .vc_figure{  width:100%;}
	.vc_column_container > .vc_column-inner,.vc_column_container { padding:0;}
	.page-template-landing-page #wrapper #main-container #search-box{ margin:0 5px;}
	#wrapper #main-container #searchform #searchsubmit, #search-housekeepers #searchform #searchsubmit{ font-size:16px;}
	.mobile-reverse-xs{  /* Setup Flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* Reverse Column Order */
  -webkit-flex-flow: column-reverse;
  flex-flow: column-reverse;}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	#wrapper #main-container #searchform #searchsubmit, #search-housekeepers #searchform #searchsubmit{ font-size:14px;}
       
}