/* CSS Document */
.sidebar-name h2{ display:inline-block; vertical-align:middle;}
#rand-theme-widget-area-create { margin: 8px auto; border-radius: 0px; background-color: #FFF; font-size: 16px; padding: 30px; border: 1px solid #DFDFDF;}
#rand-theme-widget-area-create h2{ margin-top:0;}
#rand-theme-widget-area-create .sidebar-description p.description { margin: 0; font-style: normal; color: #777}
#rand-theme-widget-area-create button.button {  }
.button.rand-theme-widget-area-remove { color: #fff; background-color: #d9534f; border-color: #d43f3a; vertical-align:middle; margin-right:10px; display:inline-block; }
.button.rand-theme-widget-area-remove:hover {color: #fff; background-color: #c9302c; border-color: #ac2925}