/* CSS Document */
.maid-setup-content p,.maid-setup-content table{font-size:1em;line-height:1.75em;color:#666}
html,
body{background:#427EC6; width:100%; height:100%; padding: 0; margin: 0; max-width: none;font-family: 'Open Sans', sans-serif;}
#wrapper{margin:5% auto 24px;}
#maid-logo{border:0;margin:0 0 24px;padding:0;text-align:center}
#maid-logo img{max-width:50%}
.maid-setup-content{box-shadow:0 1px 3px rgba(0,0,0,.13);padding:24px 24px;background:#fff;overflow:visible;zoom:1;}
.maid-setup-content h1,
.maid-setup-content h2,
.maid-setup-content h3,
.maid-setup-content table{margin:0 0 24px;border:0;padding:0;color:#666;clear:none}
.maid-setup-content h1,
.maid-setup-content h2{ color:#2c6bb7; font-style:italic; text-align:center; font-weight:bold;}
.maid-setup-content p{margin:0 0 24px;}
.maid-setup-content p.question{ margin:0 0 10px;}
.maid-setup-content .form-group p{ font-size:14px; font-weight:700; color:#000;}
.maid-setup-content a{color:#F7B89A}
.maid-setup-content a:focus,.maid-setup-content a:hover{color:#111}
.maid-setup-content .table,
.maid-setup-content .table tr,
.maid-setup-content .table th,
.maid-setup-content .table td{ vertical-align:middle;}
.maid-setup-content .maid-logo-preview-image{ width: 100%; height: auto;}
@media screen and (max-width:782px){.maid-setup-content .form-table tbody th{width:auto}}
#maid-setup-steps{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,d2d2d2+100 */ background: #e5e5e5; /* Old browsers */	background: -moz-linear-gradient(top, #e5e5e5 0%, #d2d2d2 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #e5e5e5 0%,#d2d2d2 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #e5e5e5 0%,#d2d2d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d2d2d2',GradientType=0 ); /* IE6-9 */ }
#maid-setup-steps ol{ padding:0 0;margin:0 auto;list-style:none;overflow:visible;color:#ccc; display:-webkit-flex;display:-ms-flexbox;display:flex; justify-content: center; align-items: stretch;}
#maid-setup-steps ol li{ display:-webkit-flex;display:-ms-flexbox;display:flex; justify-content:  center; align-items:  center ;flex-direction: column;	width:20%;float:left;padding:0 0 15px;margin:0;text-align:center;position:relative;line-height:1.4em; border-left:4px solid #fff; min-height:100%; flex:
1;}
#maid-setup-steps ol li:first-child{ border-left:none;}
#maid-setup-steps ol li:after{content:"";position:absolute;width: 10px; height: 10px; bottom:0;left:40%;margin-bottom: -10px;}
#maid-setup-steps ol li.active{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3165a3+0,427ec6+2,427ec6+50,427ec6+98,3165a3+100 */	background: #427EC6; /* Old browsers */	background: -moz-linear-gradient(left,  #3165a3 0%, #427ec6 10%, #427ec6 50%, #427ec6 90%, #3165a3 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left,  #3165a3 0%,#427ec6 10%,#427ec6 50%,#427ec6 90%,#3165a3 100%); /* Chrome10-25,Safari5.1-6 */	background: linear-gradient(to right,  #3165a3 0%,#427ec6 10%,#427ec6 50%,#427ec6 90%,#3165a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3165a3', endColorstr='#3165a3',GradientType=1 ); /* IE6-9 */ border-left:none;}
#maid-setup-steps ol li.active + li{ border-left:none; }
#maid-setup-steps ol li.active:after{ border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #427EC6;}
#maid-setup-steps ol li.done{}
#maid-setup-steps ol li a{ display:block; width:100%;}
#maid-setup-steps ol li .title-holder,
#maid-setup-steps ol li .icon-holder{  }
#maid-setup-steps ol li .title-holder{ display:table; margin-bottom:50px; }
#maid-setup-steps ol li .title{ display:table-cell; width:100%; text-transform:uppercase; font-weight:bold; color:#000; text-align:center; vertical-align:middle; padding:15px 10px 0;}
#maid-setup-steps ol li .icon-holder{ position: absolute; bottom:15px; width: 100%;}
#maid-setup-steps ol li .icon{ border-radius:50%; display:inline-block; color:#FFF; background-color:#989898; width:30px; height:30px; margin:0px auto; padding:5px; text-align:center; vertical-align:middle; }
#maid-setup-steps ol li.active .icon,
#maid-setup-steps ol li.done .icon{ -webkit-box-shadow: 0 0 5px 0 #000000; box-shadow: 0 0 5px 0 #000000; }
#maid-setup-steps ol li.active .title{ color:#FFF;}
#maid-setup-steps ol li.active .icon{ background-color:#fe8e47;}
#maid-setup-steps ol li.done .icon{ background-color:#5ea334;}
.maid-setup .maid-setup-actions{overflow:hidden; text-align:center;}
.maid-setup .maid-setup-actions .button{font-size:1.25em;padding:15px 20px;line-height:1em;margin-right:.5em;margin-bottom:2px;height:auto;border-radius:4px; display:inline-block; border:none;}
.maid-setup .maid-setup-actions .button-primary{background-color:#ff7b24; margin:0;opacity:1; -webkit-box-shadow:none;box-shadow:none;text-shadow:none;}
.maid-setup .maid-setup-actions .button-primary:active,.maid-setup .maid-setup-actions .button-primary:focus,.maid-setup .maid-setup-actions .button-primary:hover{background:#f2673a;}
.wc-return-to-dashboard{font-size:.85em;color:#b5b5b5;margin:1.18em 0;display:block;text-align:center}
ul.wc-wizard-payment-gateways li.wc-wizard-gateway .wc-wizard-gateway-enable input:checked+label:before{content:"\f147";font-family:dashicons;color:#fff;border-color:#a46497;background:#a46497}
ul.wc-wizard-payment-gateways li.wc-wizard-gateway .wc-wizard-gateway-enable input:focus+label{outline:#ddd solid 1px}
#wrapper footer#footer{ padding:15px 0; color:#FFF;}
.bootstrap-datetimepicker-widget{ z-index:10;}
